*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea/*
target
.git/
.gradle/*
/.gradle/*
.gradle/
build/

/app/oppo/debug/
/app/oppo/release/
/app/seeds.txt

/app/debug/
/app/release/

/.idea/*
.idea
.idea/
/bin/
/build/
.classpath
.project
.settings
/.gradle
*.ipr
*.iws
.geany
/target
*/target
target/
/reports
*/reports
*/tmp
*.war
gradle/*
/room/schemas/com.qichuang.roomlib.database.AppDatabase/1.json
