<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.maishuo.tingshuohenhaowan">

    <queries>
        <package android:name="com.tencent.mm" />
        <package android:name="com.tencent.mobileqq" />
        <package android:name="com.tencent.wework" />
        <package android:name="com.qzone" />
        <package android:name="com.sina.weibo" />
        <package android:name="com.alibaba.android.rimet" />
    </queries>

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 读写存储权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 拍照权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 安装包的权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 读取手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 修改声音设置信息 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 允许程序振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 允许程序在手机屏幕关闭后后台进程仍然运行 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 将服务提升为前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- 获取相关的蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 屏蔽系统锁屏 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
        android:name=".common.CustomApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="true"
        android:supportsRtl="false"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute,LockedOrientationActivity"
        tools:replace="android:allowBackup,android:supportsRtl"
        tools:targetApi="n">

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5d3ff4100cafb2a7fe000122" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <!-- 适配刘海屏 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <activity
            android:name=".login.ui.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".login.ui.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".main.activity.VoicePlayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".main.activity.CustomRecorderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.activity.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".login.ui.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 聊天页面 -->
        <activity
            android:name=".message.ui.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 选择图片页面 -->
        <activity
            android:name=".ui.activity.SelectPicsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SelectPicAppTheme" />
        <!-- 搜索页面 -->
        <activity
            android:name=".main.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- VIP页面 -->
        <activity
            android:name=".wallet.ui.VipActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 好友页面 -->
        <activity
            android:name=".message.ui.FriendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 获赞页面 -->
        <activity
            android:name=".message.ui.PraiseMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 弹幕页面 -->
        <activity
            android:name=".message.ui.BarrageMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 系统消息 -->
        <activity
            android:name=".message.ui.SystemMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 系统消息详情 -->
        <activity
            android:name=".message.ui.SystemMessageDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 用户中心 -->
        <activity
            android:name=".personal.ui.PersonCenterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 个人头像制作 -->
        <activity
            android:name=".setting.ui.HeadImageMakingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 设置页面 -->
        <activity
            android:name=".setting.ui.SettingMenuActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".setting.ui.UserPersonalEditActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 隐私设置 -->
        <activity
            android:name=".setting.ui.PrivacySettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 关于我们 -->
        <activity
            android:name=".setting.ui.AboutUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 兴趣设置 -->
        <activity
            android:name=".setting.ui.InterestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 意见反馈 -->
        <activity
            android:name=".setting.ui.SuggestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 扫码界面 -->
        <activity
            android:name=".setting.ui.ScanQrCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 账号安全界面 -->
        <activity
            android:name=".setting.ui.AccountSecurityActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 账号注销页面 -->
        <activity
            android:name=".setting.ui.AccountRemoveActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 账号注销成功页面 -->
        <activity
            android:name=".setting.ui.AccountRemoveSuccessActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 账号验证界面 -->
        <activity
            android:name=".setting.ui.AccountVerifyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 百度实名认证相关三页面 -->
        <!-- 输入姓名及身份证号 -->
        <activity
            android:name=".auth.IdCardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_NoTitle" />
        <!-- 活体图像采集界面 -->
        <activity
            android:name=".auth.FaceLivenessExpActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_NoTitle" />
        <activity
            android:name=".auth.FaceOnlineVerifyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme_NoTitle" />
        <!-- 适配 Android 7.0 文件意图 -->
        <!-- 钱包首页 -->
        <activity
            android:name=".wallet.ui.WalletActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 钱包提现充值明细 -->
        <activity
            android:name=".wallet.ui.WalletDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 钱包充值 -->
        <activity
            android:name=".wallet.ui.WalletTopUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 钱包提现 -->
        <activity
            android:name=".wallet.ui.WalletWithdrawActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 钱包提现绑定支付宝 -->
        <activity
            android:name=".wallet.ui.WalletWithdrawBindAliActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 锁屏页 -->
        <activity
            android:name=".setting.ui.LockActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:taskAffinity="com.maishuo.tingshuohenhaowan.lock"
            android:theme="@style/LockScreenTheme" />
        <!-- 活动提现 -->
        <activity
            android:name=".wallet.ui.H5WithdrawActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 活动统一提现 -->
        <activity
            android:name=".wallet.ui.H5Withdraw2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <!-- 活动提现记录 -->
        <activity
            android:name=".wallet.ui.H5WithdrawRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".login.ui.SchemeJumpActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.maishuo.tingshuohenhaowan"
                    android:scheme="tshhw" />
            </intent-filter>
        </activity>

        <activity
            android:name=".personal.ui.UserLookBigPicActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- 崩溃界面 -->
        <activity
            android:name=".setting.ui.CrashActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:process=":crash"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent101744434" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity="net.sourceforge.simcpux"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wxd93e78461c72d692" />
            </intent-filter>
        </activity>

        <!-- 以下为基本配置信息，需要自行添加至您的AndroidManifest文件中 end -->
        <!-- 将com.baidu.idl.face.demo替换成您工程的包名 -->
        <provider
            android:name="com.baidu.liantian.LiantianProvider"
            android:authorities="com.maishuo.tingshuohenhaowan.liantian.ac.provider"
            android:exported="true" />

        <service
            android:name="com.baidu.liantian.LiantianService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.baidu.action.Liantian.VIEW" />

                <category android:name="com.baidu.category.liantian" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service android:name=".service.InitService" />
    </application>
</manifest>